<br>
<div class="container">
  <form class="row g-3">
    <h1>Ajouter un nouveau ordre de traveaux</h1>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Lieu de l'intervention</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>

    <label for="inputEmail4" class="form-label">Nature des traveaux</label>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Génie civil
        </label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Câblage 
        </label>
      </div>
    </div>
    <hr>

    <h3>Ajouter les traveaux et prestation au metre</h3>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Traveaux</label>
      <select id="inputState" class="form-select">
        <option selected>Choisir un traveaux</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-md-2">
      <label for="inputEmail4" class="form-label">Quantite</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-8">
      <label for="inputEmail4" class="form-label">Observation</label>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <hr>

    <h3>Ajouter Materiel(s) fourni par Tunisie Telecom</h3>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Materiel</label>
      <select id="inputState" class="form-select">
        <option selected>Choisir un materiel</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-md-2">
      <label for="inputEmail4" class="form-label">Quantite</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-8">
      <label for="inputEmail4" class="form-label">Observation</label>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    <br>

  </form>
</div>