<div class="container" id="main-container">
  <div class="submit-form">
    <div>
      <h1>Modifier un materiel</h1>
      <div class="col-md-9">
        <label for="designation">Designation</label>
        <input type="text" class="form-control" id="designation" required [(ngModel)]="currentMateriel.designation"
          name="designation" />
      </div>

      <div class="col-md-1">
        <label for="unite">Unite</label>
        <input class="form-control" id="unite" required [(ngModel)]="currentMateriel.unite" name="unite" />
      </div>

      <div class="col-md-2">
        <label for="prixUnitaire">Prix unitaire</label>
        <input class="form-control" id="prixUnitaire" required [(ngModel)]="currentMateriel.prixUnitaire"
          name="prixUnitaire" />
      </div>
      <br>

      <button (click)="updateMat()" class="btn btn-success">Enregistrer</button>

    </div>

  </div>
</div>
